/*

   ПРИМЕР КАК ДЕЛАТЬ WEBP И AVIF ФОНЫ

   .no-webplossy .sectionBanner,
   .no-avif .sectionBanner {
      background: transparent url(../img/png/bannerBg.png) 50% 50%/cover no-repeat;
   }
   .webplossy .sectionBanner{
      background: transparent url(../img/webp/bannerBg.webp) 50% 50%/cover no-repeat;
   }
   .avif .sectionBanner {
      background: transparent url(../img/avif/bannerBg.avif) 50% 50%/cover no-repeat;
   }
*/

@import 'color';
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   font-size: 12px;
   font-family: sans-serif;
}
.sectionHeader {
   padding: 16px 0 0 0;

   .sectionInner {
      width          : 1170px;
      display        : flex;
      flex-direction : column;
      align-items    : center;
      justify-content: space-between;
      margin         : 0 auto;
   }

   .sectionHeader_main {
      width          : 100%;
      display        : flex;
      flex-direction : row;
      align-items    : center;
      justify-content: space-between;
      margin: 0 0 30px 0;
      .logo {
         width: 210px;
         height: 135px;
         margin: 0 30px 0 0;
         cursor: pointer;
         img{
            width: 100%;
            height: 100%;
         }
      }

      .wrap {
         flex-grow      : 1;
         display        : flex;
         flex-direction : column;
         align-items    : center;
         justify-content: space-between;

      }

      .sectionHeader_main-firstLine {
         width          : 100%;
         display        : flex;
         flex-direction : row;
         align-items    : center;
         justify-content: space-between;
         width          : 100%;
         border: none;
         border-bottom: 1px solid #D7D7D7;
         margin: 0 0 20px 0;
         padding: 0 0 8px 0;

         .sectionHeader_main-firstLine-headNav {
            display        : flex;
            flex-direction : row;
            align-items    : center;
            justify-content: space-between;
            list-style: none;
            color: #252525;
            .headNav-item {
               margin: 0 25px 0 0;
               cursor: pointer;

               &:last-child{
                  margin: 0;
               }
            }

         }

         .sectionHeader_main-firstLine-signupIn {
            display        : flex;
            flex-direction : row;
            align-items    : center;
            justify-content: space-between;
            color: #000;

            .signIn {
               margin: 0 15px 0 0;
               cursor: pointer;

            }

            .sepparator {
               display: block;
               height: 15px;
               border-left: 1px solid #000;
            }

            .signUp {
               margin: 0 0 0 15px;
               cursor: pointer;

            }
         }
      }

      .sectionHeader_main-secondLine {
         display        : flex;
         flex-direction : row;
         align-items    : center;
         justify-content: space-between;
         width: 100%;
         &-banner{
            width: 250px;
            height: 70px;
            cursor: pointer;
            img{
               width: 100%;
               height: 100%;
            }
         }
         &-cartBlock {
            display        : flex;
            flex-direction : row;
            align-items    : center;
            justify-content: space-between;
            width: 410px;

            .cartBlock_links {
               display        : flex;
               flex-direction : column;
               align-items    : center;
               justify-content: space-between;
               width: 135px;
               .cart,
               .favorite,
               .compare {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: flex-start;
                  width: 100%;
                  color: #252525;
                  margin: 0 0 10px 0;

               }
               .cart {
                  &::before{
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     width: 19px;
                     height: 19px;
                     margin: 0 10px 0 0;
                     content: url(../img/svg/cart.svg);
                  }
               }
               
               .favorite {
                  &::before{
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     width: 19px;
                     height: 19px;
                     margin: 0 10px 0 0;
                     content: url(../img/svg/favorite.svg);
                  }
                  
               }
               
               .compare {
                  &::before{
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     width: 19px;
                     height: 19px;
                     margin: 0 10px 0 0;
                     content: url(../img/svg/compare.svg);
                  }

               }
            }

            .cardBlock_itemsOnCart {
               display        : flex;
               flex-direction : row;
               align-items    : center;
               justify-content: space-between;
               width: 240px;
               &-item {
                  cursor: pointer;
                  width: 70px;
                  height: 70px;
               }
            }
         }

         &-workTimeAndContacts {
            display        : flex;
            flex-direction : column;
            align-items    : center;
            justify-content: space-between;
            color: #252525;
            width: 185px;
            

            .workTime {
               width: 100%;
               display        : flex;
               flex-direction : row;
               align-items    : center;
               justify-content: space-between;
               font-weight: bold;
               
               .time {
                  font-weight: normal;
               }
            }
            
            .phone {
               display: inline-block;
               width: 100%;
               color: #252525;
               font-weight: bold;
               font-size: 25px;
               text-align: center;
               border-bottom: 1px solid #D7D7D7;
               padding-bottom: 15px;
               margin: 15px 0 5px 0; 
               text-decoration: none;
            }
            
            .city {
               width: 100%;
               display        : flex;
               flex-direction : row;
               align-items    : center;
               justify-content: space-between;
               cursor: pointer;
               .change {
                  text-decoration: underline;
                  &::before{
                     content: url(../img/svg/change.svg);
                     margin: 0 5px 0 0;
                  }
               }
            }
         }
      }
   }

   .sectionHeader_nav {
      display        : flex;
      flex-direction : row;
      align-items    : center;
      justify-content: space-between;
      width          : 100%;
      background-color: #252525;
      border-radius: 10px;
      box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
      height: 35px;
      &-item {
         height: 100%;
         display: flex;
         align-items: center;
         justify-content: center;
         text-decoration: none;
         font-weight: bold;
         padding: 0 15px;
         color: #fff;
         transition: all 0.4s;
         &:hover{
            color: #000;
            background-color: $primary-color;
         }
         &:first-child,
         &:last-child{
            background-color: $primary-color;
            color: #000;
         }
         &:first-child{
            border-radius: 10px 0 0 10px;
            width: 40px ;
         }
         &:last-child{
            width: 130px;
            border-radius:0 10px 10px 0;
         }
      }
   }
}